.radio-button-outer {
  width: 96px;
  height: 96px;
  border-radius: 100%;
}

.radio-button-inner {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid #cbefe2;
}

.radio-button-outer:hover {
  border: 2px solid #2b916c;
}

.radio-button-outer:hover div {
  background-color: #cbefe2;
}

input[type="radio"]:checked ~ label div {
  border: none;
}

input[type="radio"]:checked ~ label div div {
  border: 2px solid #2b916c;
  background-color: #cbefe2;
}

@media screen and (max-width: 960px) {
  .radio-button-outer {
    width: 40px;
    height: 40px;
  }

  .radio-button-inner {
    width: 40px;
    height: 40px;
  }
}
