.header {
  height: 360px;
  margin-top: 88px;
  padding-top: 68px;
}

.header .text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 84px;
  /* identical to box height, or 150% */

  /* font-feature-settings: "cv11" on, "cv02" on, "cv03" on, "cv04" on; */
}
