.header {
  margin-top: 20px;
}

.cat-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 84px;
  /* font-feature-settings: "cv11" on, "cv02" on, "cv03" on, "cv04" on; */
}

.solutions {
  display: grid;
  grid-template-columns: 440px auto;
}

.card {
  height: 320px;
  border-radius: 20px;
  padding: 60px 56px;
  display: grid;
  grid-template-columns: auto 425px;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .solutions {
    grid-template-columns: auto;
  }

  .card {
    height: auto;
    grid-template-columns: auto;
    border-radius: 0;
  }

  .cat-title {
    /* Header 1/Extra Bold */
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    /* font-feature-settings: "cv11" on, "cv02" on, "cv03" on, "cv04" on; */
  }
}
